<div id="no-clients">
  <i class="fa fa-user-times fa-5x"></i>
  <h2>Usted no tiene clientes</h2>
  <i class="fa fa-user-plus"><%= link_to 'Agregue clientes para empezar', new_client_path %></i>
</div>
