<h1>Editing Invoice</h1>

<%= render 'form' %>

<%= link_to @order do %>
  <button class="waves-effect waves-teal btn-flat">Show</button>
<% end %>
<%= link_to order_path do %>
  <button class="waves-effect waves-teal btn-flat">Back</button>
<% end %>
