<html>
<head>
  <title>InVoice</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway:700,600,500' rel='stylesheet' type='text/css'>
  <%= wicked_pdf_stylesheet_link_tag 'application'%>
  <%= wicked_pdf_javascript_include_tag 'application'%>
</head>
<body>
  <%= yield %>
</body>
</html>